.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fefefe;
  min-width: 280px;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}
